.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  fill: black;
}

.transparentHeader {
  border-bottom: none;
  position: fixed;
  z-index: 10; /* make sure it appears above hero */
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.headerWrapper {
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

.nav {
  display: flex;
}

.links {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.cartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartLink {
  font-weight: 200;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.cartIcon {
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  fill: black;
  transition: fill 0.2s ease;
}

.transparentHeader .cartIcon {
  fill: white;
}

.cartDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px
}

@media (max-width: 416px) {
  .cartDetails {
    display: none;
  }
}
